@import '~bootstrap/scss/bootstrap.scss';
@import './overrides.scss';
// TODO : Either use emotion for hover effect
// or move the inline styling into scss

.btn-link:focus {
    outline: 0;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
    color: #d37324;
}

.loadingList {
    width: 100%;
    height: 90px;

    background-image: linear-gradient(lightgray 65px, transparent 0),
        linear-gradient(
            100deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%
        ),
        linear-gradient(lightgray 23px, transparent 0),
        linear-gradient(lightgray 15px, transparent 0),
        linear-gradient(lightgray 15px, transparent 0);

    background-repeat: repeat-y;

    background-size: 86px 200px, 50px 200px, 218px 200px, 218px 200px,
        65px 200px;

    background-position: 12px 12px, 0 0, 118px 12px, 118px 40px, 118px 60px;
}
