body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@import '~bootstrap/scss/bootstrap.scss';

// TODO : Either use emotion for hover effect
// or move the inline styling into scss

.btn-link:focus {
    outline: 0;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
    color: #d37324;
}
