$color-primary: #ea7f28;
$color-secondary: #d37324;
$color-dark-grey: #4a4a4a;
$color-light-grey: #ededed;

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

h1 {
    color: $color-dark-grey;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

h2 {
    color: $color-dark-grey;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

h3 {
    color: $color-dark-grey;
    font-size: 18px;
    margin: 0;
}

h4 {
    color: $color-dark-grey;
    font-size: 14px;
    margin: 0;
}

h5 {
    color: $color-dark-grey;
    font-size: 12px;
    margin: 0;
}

p {
    color: $color-dark-grey;
    font-size: 14px;
    margin: 0;
    line-height: 1.7;
}

a {
    color: $color-primary;
    font-size: 12px;
}

a:hover {
    color: $color-secondary;
}

.btn {
    border-radius: 2px;
}

.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    width: 128px;
    height: 32px;
    font-size: 14px;
}

.btn-primary:active {
    background-color: $color-secondary;
    border-color: $color-secondary;
    outline: 0;
}

.btn-primary:focus {
    background-color: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $color-secondary;
    border-color: $color-secondary;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):not(:focus) {
    background-color: $color-primary;
    box-shadow: none;
    border-color: $color-primary;
}
.btn-primary:hover {
    background-color: $color-primary;
    box-shadow: none;
    border-color: $color-primary;
}

.btn-link:focus {
    outline: 0;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
    color: #d37324;
}

.btn-secondary {
    color: $color-primary;
    font-size: 12px;
}

.btn-secondary:focus {
    box-shadow: none;
}

.btn-secondary:hover {
    text-decoration: underline;
    color: $color-secondary;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    color: $color-secondary;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    color: $color-secondary;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
    color: $color-secondary;
}

.navbar {
    padding: 0;
}

.navlink {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
}

.card {
    border-radius: 0;
    border-color: $color-light-grey;
    box-sizing: content-box;
}

.form-group {
    margin-bottom: 12px;
}

.form-label {
    color: $color-dark-grey;
    display: inherit;
    margin-bottom: 8px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-dark-grey;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $color-light-grey;
    border-radius: 3px;
}
